.DS_Store
.thumbs.db
node_modules
release
diaries.json
dist
target
src-tauri/target
src-tauri/gen/android/.gradle
src-tauri/gen/android/build
src-tauri/gen/android/app/build
src-tauri/gen/android/app/.cxx
*.apk
*.aab
*.keystore
*.jks
snapshot.txt
snapshot*.txt

# Quasar core related directories
.quasar
/dist
/quasar.config.*.temporary.compiled*

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

/utils

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# local .env files
.env.local*

日志.md